<div class="container is-fullhd">
  <nav class="navbar is-dark fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        Empresa X
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" [routerLink] = "['/home']" >
            <span class="icon is-small">
              <i class="fas fa-home"></i>
            </span>
          </a>

          <div class="navbar-dropdown">

            <a class="navbar-item" [routerLink]="['/home/quienes-somos']">
              ¿Quienes somos?
            </a>

            <a class="navbar-item" [routerLink]="['/home/mision']">
              Misión
            </a>

            <a class="navbar-item" [routerLink]="['/home/vision']">
              Visión
            </a>

          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" [routerLink]="['/servicios']">
            Nuestros servicios
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" [routerLink]="['/servicios/auditoria']">
              Auditorias
            </a>
            <a class="navbar-item" [routerLink]="['/servicios/contable']">
              Registro contable
            </a>
            <a class="navbar-item" [routerLink]="['/servicios/financiamiento']">
              Financiamientos
            </a>
            <a class="navbar-item" [routerLink]="['/servicios/credito']">
              Creditos grupales
            </a>
          </div>
        </div>

        <a class="navbar-item" [routerLink]="['/blog']">
          <span class="icon is-small">
            <i class="fas fa-book-open"></i>
          </span>
        </a>

      </div>

    </div>
  </nav>
</div>
