<div class="container is-fullhd">
  <nav class="navbar is-dark fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        Empresa X
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" [routerLink] = "['/home']" >
            Home
          </a>

          <div class="navbar-dropdown">

            <a class="navbar-item" [routerLink]="['/home/quienes-somos']">
              ¿Quienes somos?
            </a>

            <a class="navbar-item" [routerLink]="['/home/mision']">
              Misión
            </a>

            <a class="navbar-item" [routerLink]="['/home/vision']">
              Visión
            </a>

          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" [routerLink]="['/servicios']">
            Nuestros servicios
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Auditorias
            </a>
            <a class="navbar-item">
              Registro contable
            </a>
            <a class="navbar-item">
              Financiamientos
            </a>
            <a class="navbar-item">
              Creditos grupales
            </a>
          </div>
        </div>

        <a class="navbar-item" [routerLink]="['/blog']">
          Blog
        </a>

      </div>

    </div>
  </nav>

</div>
